* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

.bg-container {
  background-color: #ffebeb;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  height: 500px;
  width: 600px;
  background-color: #ffffff;
  border-style: none;
  border-radius: 5px;
  padding: 10px;
}

.list-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}

.emoji-img {
  height: 60px;
  width: 60px;
}
